.now-play {
    display: flex;
    gap:.5rem;
}

.now-play-details {
    display: flex;
    gap:1.5rem;
    align-items: center;
}

.now-play-title {
    display: block;
}
.now-play-cover img{
    inline-size: 3.5rem;
    block-size: 3.5rem;
    vertical-align: middle;
}
