@import 'display-flex.css';
@import 'flex-order.css';
@import 'flex-direction.css';
@import 'flex-wrap.css';
@import 'flex.css';
@import 'justify-content.css';
@import 'align-items.css';

.wrapper {
  max-inline-size: 64rem;
  margin: auto;
}

.box {
  border: 5px dashed var(--primatyColor);
  padding: 1rem;
  counter-increment: flex-items;
}

.box::after {
  content: counter(flex-items);
}
