.button-icon {
  inline-size: 2.5rem;
  block-size: 2.5rem;
  background: transparent;
  border-radius: 50%;
  border: none;
  color: var(--gray10);
}

.button-icon.is-white {
  background: var(--white);
  color: var(--gray50);
}

.button-icon.is-primary {
  background: var(--primary);
  color: var(--white);
}

.fix-center-icon {
  position: relative;
  inset-inline-start: 1px;
  inset-block-start: 1px;
}

.button-icon:active {
  transform: scale(.95);
}

.button-icon:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, .3) ;
}
